.App {
  text-align: center;
}
.App {
  text-align: center;
  border: 30px solid #fbff00;
  background-color: #001aff;
  }
.beast {
  border: 5px solid #fbff00;
  border-radius: 10%;
  padding: 50px;
  background-color: #001aff;
  }
.beastDescription{
  margin-top: 25px;
}
